<h2> Menu </h2>

<ul class="items">
  <li *ngFor="let item of items">
    <button type="button"
            [class.selected]="item === selectedItem"
            (click)="onSelect(item)">
      <span class="badge"> {{item.id}} </span>
      <span class="name"> {{item.name}} </span>
    </button>
  </li>
</ul>


<div *ngIf="selectedItem">
  <h2> {{selectedItem.name | uppercase}} Details </h2>    <!-- Format with UppercasePipe -->
  <div> ID: {{selectedItem.id}} </div>
  <div>
      <label for="item-name"> Item Name: </label>
      <input id="item-name"
             [(ngModel)]="selectedItem.name"
             placeholder="name" > <!-- 2-way data binding between textbox and selectedItem.name -->
  </div>
